
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
.text-center {
    text-align: center;
}
.display1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.search{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 10px;
    width: 200px;
}
.create{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}

#myTable {
    margin-top: 30px;
}
